ul{
    list-style-type: circle;
}
ol{
    list-style-type: upper-roman;
}
h1 {
    color: #882441;
    font-size: 36px;
}
h1.enter{
    color: #33485e;
    font-size: 36px;
    font-family: 'Petit Formal Script', cursive;
    white-space: nowrap;
}

.crop img{
    width:100vw;
    height: auto;
    }
.name-text h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 130px;
}
p {
    margin: 16px 16px 16px 16px;
    border-left: 15px;
    border-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.slideshow{
    width:70vw;
    margin:auto;
    display: block;
}

.slideshow img {
    width: 70vw;
    height: auto;
}

.header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header li{
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}
.header li::after{
    content: "|";
    margin-left: 10px;
}
h2{
    color: #00597F;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
p{
    font-family: 'Libre Baskerville', serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-decoration: underline 1px solid;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: italic;
}
h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
div#color-palette{
    background-color: white;
    border: 2px black solid;
    padding: 10px;
}
.color-1{
    height: 150px;
    width: 150px;
    display: inline-block;
    background-color: #882441;
}
.color-2{
    height: 150px;
    width: 150px;
    display: inline-block;
    background-color: #BAB1AD;
}
.color-3{
    height: 150px;
    width: 150px;
    display: inline-block;
    background-color: #00597F;
}
.color-4{
    height: 150px;
    width: 150px;
    display: inline-block;
    background-color: #D4CEC9;
}
.color-5{
    height: 150px;
    width: 150px;
    display: inline-block;
    background-color: #CDAEA6;
}
#wireframe img{
    max-width: 300px;
    height: auto;
    margin: 15px;
}
