body { margin:0;}
.flexbox-container{
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
.header {
    display: flex;

    background-color: #CDAEA6;
      }
.header-content{
    flex-grow: 3;
}
.name {
    text-align: center;
    font-size: 5vw;
    font-family: 'Petit Formal Script';
    color: white;
  }
 /*.motto{
     text-align: center;
     font-size: 2vw;
     font-family: 'Libre Baskerville', serif;
     color: white;
  }*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
.container div {
    border: thin black solid;
    width: fit-content;
    padding: 10px;
    height: 20px;
  }
.container ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.5vw;
    width: fit-content;
  }
 .link {
    padding: 0 10px 0 10px;
    font-family: 'Montserrat', sans-serif;
  }
.logo {
    float: left;
    width: 120px;
    align-self: center;
  }
  .full-width{
    width: 100%;
    height: auto;
  }
  .slideshow{
     width: 100%;
     height: auto;
  }
  .body-text{
      margin: 10px 20px 10px 20px;
  }
  h1{
      color: #00597F;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
  }
  h2{
      color: #00597F;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
  }
  p{
      font-family: 'Libre Baskerville', serif;
  }
/* .clip1{
    display: flex;
}
.clip1 .left{
    justify-content: left;
    flex-grow: 3;
    margin-right: 20px;
}
.clip1 #mentalhealth{
    flex-grow: 1;
    width: 30%;
}
.clip2{
    display: flex;
}
.clip2 .left{
    justify-content: left;
    flex-grow: 3;
    margin-right: 20px;
}
.clip2 #greentidings{
    flex-grow: 1;
    width: 20%;
}
.clip3{
    display: flex;
}
.clip3 .left{
    justify-content: left;
    flex-grow: 3;
    margin-right: 20px;
}
.clip3 #zebras{
    flex-grow: 1;
    width: 20%;
} */

.clip {
    display: flex;
    gap: 15px;
}

.clip .left {
    flex-grow: 3;
}
.clip .right{
    flex-grow: 1;
}
.clip .right img{
    width: 100%;
    min-width: 300px;
}
