body {
  /* min-width: 700px;  */
  margin: auto;
}

.flexbox-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.header {
  background-color: #cdaea6;
  min-height: 156px;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.logo {
  float: left;
  width: 120px;
  z-index: 2;
}
.name {
  font-family: "Petit Formal Script";
  color: white;
  text-align: center;
  font-size: min(max(50px, 5vw), 75px);
  line-height: 0;
  flex-grow: 1;
}
.link-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: 30px;
  border-top: thin white solid;
  margin-right: 10px;
  margin-left: 10px;
}
.link-row ul {
  list-style: none;
  font-size: max(1.5vw, 14px);
  text-align: end;

  min-width: 27%;
  flex-grow: 0;
}
.link-row li {
  display: inline-block;
  line-height: 0;
  margin-left: 0;
}

.link-row .wider {
  flex-grow: 1;
}

.link-row a:hover {
  color: #cccccc;
  background-color: #7e7e7e;
}
.link-row a:active,
.link-row a:visited,
.link-row a:link {
  color: white;
}
.fa-twitter {
  color: #1da1f2;
  font-size: max(1.5vw, 20px);
}
.fa-twitter:hover {
  color: white;
  font-size: max(1.5vw, 20px);
}
.fa-linkedin {
  color: #0077b5;
  font-size: max(1.5vw, 20px);
}
.fa-linkedin:hover {
  color: white;
  font-size: max(1.5vw, 20px);
}
.fa-envelope {
  font-size: max(1.5vw, 20px);
}
.fa-envelope:hover {
  color: black;
  font-size: max(1.5vw, 20px);
}

.full-width {
  width: 100%;
  background-color: #cdaea6;
}
.full-width img {
  display: block;
  width: min(100%, 1300px);
  margin: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 1.5vw;
  width: fit-content;
  padding-left: 0;
}
.link {
  padding: 0 10px 0 10px;
  font-family: "Montserrat", sans-serif;
}

.slideshow {
  width: 100%;
  height: auto;
}

.body-text {
  margin: 20px 40px 20px 40px;
}

h1 {
  color: #00597f;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background-color: #cdaea6;
}
h3{

}
h4{

}
h5{

}
p {
  font-family: "Libre Baskerville", serif;
}
/* .clip1{
    display: flex;
}
.clip1 .left{
    justify-content: left;
    flex-grow: 3;
    margin-right: 20px;
}
.clip1 #mentalhealth{
    flex-grow: 1;
    width: 30%;
}
.clip2{
    display: flex;
}
.clip2 .left{
    justify-content: left;
    flex-grow: 3;
    margin-right: 20px;
}
.clip2 #greentidings{
    flex-grow: 1;
    width: 20%;
}
.clip3{
    display: flex;
}
.clip3 .left{
    justify-content: left;
    flex-grow: 3;
    margin-right: 20px;
}
.clip3 #zebras{
    flex-grow: 1;
    width: 20%;
} */

.clip {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
@media screen and (max-width: 750px){
    .clip{
        flex-direction: column-reverse;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .clip .left{
        padding-bottom:
    }
}


.clip .left {
  flex-grow: 3;
}
/* .clip .right{
    flex-grow: 1;
} */
.clip .right img {
  width: 300px;
}

.clip a:active,
.clip a:visited,
.clip a:link {
  color: black;
}
.clip a:hover{
    color: #00597f;
}
@media screen and (max-width: 1704px) {
  .header {
  }
}
