h1 {
    color: #33485e;
    font-size: 36px;
}

.crop img{
    width:100vw;
    height: auto;
    }
.name-text h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 130px;
}
p {
    margin: 16px 16px 16px 16px;
    border-left: 15px;
    border-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

img {
    width: 70vw;
    height: auto;
    margin:auto;
}
.slideshow{
}
.header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header li{
    float: left;
    padding-right: 5px;
}
.header li::after{
    content: "|"
}
